@media screen and (min-width: 1024px) {
    header .main-nav {
        display: none;
    }
}

@media screen and (min-width : 1280px) {
    .road-map .road-map-main {
        padding: 0 171px;
    }
}

@media screen and (min-width : 1440px) {
    .container {
        max-width: 1440px !important;
    }

    .road-map .road-map-main {
        padding: 0 251px;
    }
}

@media screen and (max-width:1440px) {
    .allow .numbers {
        padding: 51px 80px 0 90px;
    }

    .wallet .wallet-main {
        padding: 58px 72px 24px;
    }
}

@media screen and (max-width: 1280px) {
    .network #network {
        padding: 0 32px;
    }

    .road-map .road-map-main {
        padding: 0 93px;
    }

    .allow .numbers {
        padding: 51px 0;
    }

    .road-map .road-map-main .box-roadmap {
        width: 280px;
    }
}

@media screen and (max-width: 1024px) {
    #network .box {
        width: 250px;
    }

    .road-map .road-map-main .box-roadmap.left::after {
        right: -111px;
    }

    .road-map .road-map-main .box-roadmap.right::after {
        left: -111px;
    }

    .road-map .road-map-main .box-roadmap.left::before {
        right: -78px;
    }

    .road-map .road-map-main .box-roadmap.right::before {
        left: -78px;
    }

    .network #network {
        height: 750px;
    }

    .road-map .road-map-main {
        padding: 0 35px;
    }

    .road-map .road-map-main .box-roadmap {
        width: 240px;
    }

    .wallet-main-text {
        font-size: 12px;
    }

    .wallet-small-text {
        font-size: 8px;
    }
}

@media screen and (max-width:875px) {


    .road-map .road-map-main .box-roadmap::before,
    .road-map .road-map-main .box-roadmap::after {
        display: none;
    }

    .road-map .road-map-main .box-roadmap.left,
    .road-map .road-map-main .box-roadmap.right {
        margin: 0 0 30px;
    }

    .road-map .road-map-main {
        justify-content: flex-start;
    }

    .road-map .road-map-main {
        gap: 12px;
    }

    .road-map .road-map-main::before,
    .road-map .road-map-main::after {
        left: 100%;
    }

}

@media screen and (max-width: 767px) {

    .banner>div {
        background-image: url('../media/network_opacity.png');
        background-position: center center;
        background-size: contain;
        background-repeat: no-repeat;
    }

    .what-is .box-title h3 {
        font-size: 20px;
        margin: 0;
    }

    .what-is .box>div {
        padding: 14px 70px;
    }

    .what-is .box,
    .what-is .box:nth-child(2) {
        padding: 4px 0;
    }

    .what-is .boxes {
        margin: 40px 0 35px;
    }

    h1 {
        font-size: 32px;
    }

    #join-btn {
        border-radius: 30px;
        padding: 14px 18px;
    }

    /* .footer {
        width: 100%;
    }

    .footer h6 {
        font-size: 16px;
    }

    .footer .join-btn {
        padding: 8px 14px;
    }

    .footer input {
        padding: 9px 25px;
        border-radius: 6px;
    } */

    .footer .footer-right>div {
        width: 50%;
        margin-top: 36px;
    }
}

@media screen and (max-width: 640px) {
    .container {
        max-width: 540px;
    }

    .banner h2.title {
        font-size: 20px;
        line-height: 32px;
    }

    p {
        font-size: 12px;
        margin: 8px 10px;
    }

    .what-is .boxes {
        margin: 30px 0 25px;
    }

    .usecase .menu-tab {
        margin-bottom: 40px;
    }

    .chat-label {
        display: block;
    }

    .flat-toggle .toggle-title {
        font-size: 18px;
    }

    .flat-toggle .toggle-content {
        font-size: 13px;
    }

    .road-map .road-map-main {
        padding: 0 6px;
    }

    .wallet .wallet-main {
        padding: 32px 48px 16px;
    }

    .flat-toggle {
        padding: 16px 38px 14px 22px;
    }

    .portal .chart-panel .chart-state-field .state>span {
        width: 16px;
        height: 16px;
        font-size: 11px;
    }

}

@media screen and (max-width: 480px) {
    .globe .box {
        width: 100%;
        margin: 8px 0;
    }

    .what-is .box-title h3 {
        font-size: 12px;
    }


    .offering .document-box .content .content-detail p {
        font-size: 12px;
        margin-bottom: 14px;
    }

    .offering .document-box .content .content-detail a.btn {
        padding: 11px 20px;
    }

    .chat-label.rewards,
    .chat-label.presale {
        top: 39%;
    }

    .road-map .road-map-main .box-roadmap {
        width: 80%;
    }

    .wallet .wallet-main {
        padding: 20px 24px 12px;
    }

    .footer .footer-left {
        width: 100%;
    }
}

@media screen and (max-width: 380px) {

    .offering .document-box {
        padding: 34px 0 0 54px;
    }

    .offering .document-box .title {
        margin-left: -22px;
    }

    .footer .footer-right>div {
        width: 100%;
        margin-top: 16px;
    }

    .footer .footer-right ul {
        padding-top: 0 !important;
    }

    .footer .footer-right li {
        margin-top: 12px;
    }
}